<ng-container *ngFor="let item of baseRaces">
  <span
    [ngClass]="{'label-info': dataService.raceFilter.length !== 0 && dataService.raceFilter.includes(item), 'label-light-blue': dataService.raceFilter.length !== 0 && dataService.raceFilter.includes(item)}"
    class="label clickable" style="cursor: pointer" (click)="addFilter(item)">
    {{ item }}
    <span class="badge">{{ total[item] }}</span>
  </span>
</ng-container>
<clr-datagrid>
  <clr-dg-column [clrDgSortBy]="raceComparators.nameComparator">종족명
    <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.hpComparator">HP</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.mpComparator">MP</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.spComparator">SP</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.atkComparator">공격력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.defComparator">방어력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.matComparator">마력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.mdfComparator">정신력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.agiComparator">민첩성</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="raceComparators.lukComparator">손재주</clr-dg-column>

  <clr-dg-row class="clickable" *clrDgItems="let race of raceList" (click)="viewDetail(race)">
    <clr-dg-cell>{{ race.name }}</clr-dg-cell>
    <ng-container *ngFor="let item of columns">
      <clr-dg-cell>{{ race[item] }}%</clr-dg-cell>
    </ng-container>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">페이지 크기</clr-dg-page-size>
      {{pagination.totalItems}}개 종족 중 {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}번째
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
