<div align="center" *ngIf="race">
  <div style="width: 1080px" align="left">
    <div class="clr-row" *ngIf="race">
      <div class="status clr-col-12">
        <div class="detail-title">{{ race.name }}</div>
        <ng-container *ngFor="let item of description[race.id]">
          {{ item }}
        </ng-container>
      </div>


      <div class="status clr-col-12">
        <table class="table table-vertical">
          <tbody>
            <tr class="clr-row">
              <th class="clr-col-2">최대 HP</th>
              <td class="clr-col-2">{{ race.hp }}%</td>
              <th class="clr-col-2">최대 MP</th>
              <td class="clr-col-2">{{ race.mp }}%</td>
              <th class="clr-col-2">최대 SP</th>
              <td class="clr-col-2">{{ race.sp }}%</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">공격력</th>
              <td class="clr-col-2">{{ race.atk }}%</td>
              <th class="clr-col-2">방어력</th>
              <td class="clr-col-2">{{ race.def }}%</td>
              <th class="clr-col-2">마력</th>
              <td class="clr-col-2">{{ race.mat }}%</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">정신력</th>
              <td class="clr-col-2">{{ race.mdf }}%</td>
              <th class="clr-col-2">민첩성</th>
              <td class="clr-col-2">{{ race.agi }}%</td>
              <th class="clr-col-2">손재주</th>
              <td class="clr-col-2">{{ race.luk }}%</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">스킬타입 추가</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of race.addSkill let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container>{{ skillType[item] }}</ng-container>
              </td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">무기타입 추가</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of race.addWeapon let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container>{{ weaponType[item] }}</ng-container>
              </td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">방어구타입 추가</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of race.addArmor let i = index">
                  <ng-container *ngIf="i!==0 && armorType[item]"> / </ng-container>{{ armorType[item] }}</ng-container>
              </td>
            </tr>
            <tr class="clr-row" *ngIf="race.require && race.require.length">
              <th class="clr-col-2">전종 조건</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of race.require let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container><a *ngIf="dataService.getOneJobOrRace(item) as required"
                    (click)="viewJobOrRace(required)">{{ required!.name }}</a>
                </ng-container><ng-container *ngIf="race.require.length"> 마스터</ng-container>
              </td>
            </tr>
            <tr class="clr-row" *ngIf="race.subrequire && race.subrequire.length">
              <th class="clr-col-2">전종 조건 (선택)</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of race.subrequire let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container><a *ngIf="dataService.getOneJobOrRace(item) as required"
                    (click)="viewJobOrRace(required)">{{ required!.name }}</a>
                </ng-container><ng-container> 중 하나 마스터</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="status clr-col-12" *ngIf="race.learningSkills!.length">
        <div class="detail-subtitle">습득 스킬</div>
        <table class="table" style="margin-top: 12px">
          <thead>
            <tr>
              <th style="width: 5%">레벨</th>
              <th style="width: 15%" class="left">이름</th>
              <th style="width: 10%" class="left">분류</th>
              <th style="width: 5%" class="left">비용</th>
              <th style="width: 70%" class="left">효과</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let item of race.learningSkills" (click)="viewSkill(item)">
              <td>{{ item.level }}</td>
              <td class="left" style="padding: 6px"><img src="assets/icons/iconset.png"
                  [ngStyle]="calculateService.calculateStyle(item.skill!.icon)">{{ item.skill!.name }}</td>
              <td class="left">{{ skillType[item.skill!.type] }}</td>
              <td class="left cost" *ngIf="this.calculateService.getCost(item.skill!) as cost">
                <div *ngIf="cost['size'] || cost['size'] === 0">{{ cost['size'] }}</div>
                <div *ngIf="cost['goldCost']" class="gold-cost">{{ cost['goldCost'] }}</div>
                <div *ngIf="cost['hpCost']" class="hp-cost">{{ cost['hpCost'] }}%</div>
                <div *ngIf="cost['mpCost']" class="mp-cost">{{ cost['mpCost'] }}</div>
                <div *ngIf="cost['spCost']" class="sp-cost">{{ cost['spCost'] }}</div>
              </td>
              <td class="left">{{ item.skill!.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
