<div align="center" *ngIf="skill">
  <div style="width: 1080px" align="left">
    <div class="clr-row" *ngIf="skill">
      <div class="status clr-col-12">
        <div class="detail-title">
          <img src="assets/icons/iconset.png" [ngStyle]="calculateService.calculateStyle(skill.icon)">
          {{ skill.name }}
        </div>
      </div>
      <div class="status clr-col-12">
        {{ skill.description }}
      </div>
      <div class="status clr-col-12">
        <b>습득 경로</b>
        <table class="table" style="margin-top: 12px">
          <thead>
            <tr>
              <th style="width: 20%" class="left">유형</th>
              <th style="width: 60%" class="left">출처</th>
              <th style="width: 20%" class="left">레벨</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let item of skill.from" (click)="viewFrom(item)">
              <td class="left">{{ calculateService.getDataTypeName(item.type) }}</td>
              <td class="left">{{ item.source }}</td>
              <td class="left">{{ item.level }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
