<div align="center" *ngIf="actor">
  <div style="width: 1080px" align="left">
    <div class="clr-row">
      <div class="status clr-col-12">
        <div>
          <div style="max-width: 96px; max-height: '96px'; display: flex">
            <img src="assets/faces/{{ actor.face }}.png"
              [ngStyle]="calculateService.calculateFaceDetailStyle(+actor.faceIndex)">
          </div>
          <div class="detail-title">{{ actor.name }} ({{ actor.secondaryName }})</div>
        </div>
      </div>
      <div class="status clr-col-2">
        <b>일러스트</b>
      </div>
      <div class="status clr-col-10">
        {{ actor.artist }}
      </div>
      <div class="status clr-col-2">
        <b>고유 어빌리티</b>
      </div>
      <div class="status clr-col-10">
        {{ description[actor.id][0] }}
      </div>
      <div class="status clr-col-12">
        <ng-container *ngFor="let item of description[actor.id].slice(1, description[actor.id].length - 1)">
          {{ item }}<br>
        </ng-container>
      </div>


      <div class="status clr-col-12">
        <div class="detail-title">Lv. 60 능력치</div>
      </div>

      <div class="status clr-col-12">
        <table class="table table-vertical">
          <tbody>
            <tr class="clr-row">
              <th class="clr-col-2">최대 HP</th>
              <td class="clr-col-2">{{ actor.hp }}</td>
              <th class="clr-col-2">최대 MP</th>
              <td class="clr-col-2">{{ actor.mp }}</td>
              <th class="clr-col-2">최대 SP</th>
              <td class="clr-col-2">{{ actor.sp }}</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">공격력</th>
              <td class="clr-col-2">{{ actor.atk }}</td>
              <th class="clr-col-2">방어력</th>
              <td class="clr-col-2">{{ actor.def }}</td>
              <th class="clr-col-2">마력</th>
              <td class="clr-col-2">{{ actor.mat }}</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">정신력</th>
              <td class="clr-col-2">{{ actor.mdf }}</td>
              <th class="clr-col-2">민첩성</th>
              <td class="clr-col-2">{{ actor.agi }}</td>
              <th class="clr-col-2">손재주</th>
              <td class="clr-col-2">{{ actor.luk }}</td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">기본 직업</th>
              <td class="clr-col-10">
                {{ dataService.getOneJob(actor.defaultJob).name }}
              </td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">기본 종족</th>
              <td class="clr-col-10">
                {{ dataService.getOneRace(actor.defaultRace).name }}
              </td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">초기 직업</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of actor.initJob let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container>{{ dataService.getOneJob(item.id).name }} Lv {{ item.level }}
                </ng-container>
              </td>
            </tr>
            <tr class="clr-row">
              <th class="clr-col-2">초기 종족</th>
              <td class="clr-col-10">
                <ng-container *ngFor="let item of actor.initRace let i = index">
                  <ng-container *ngIf="i!==0"> / </ng-container>{{ dataService.getOneRace(item.id).name }} Lv {{ item.level }}
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="clr-row" *ngIf="actor.learningSkills!.length">
      <div class="status clr-col-12">
        <b>습득 스킬</b>
        <table class="table" style="margin-top: 12px">
          <thead>
            <tr>
              <th style="width: 5%">레벨</th>
              <th style="width: 15%" class="left">이름</th>
              <th style="width: 10%" class="left">분류</th>
              <th style="width: 5%" class="left">비용</th>
              <th style="width: 65%" class="left">효과</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let item of actor.learningSkills" (click)="viewSkill(item)">
              <td>{{ item.level }}</td>
              <td class="left" style="padding: 6px"><img src="assets/icons/iconset.png"
                  [ngStyle]="calculateService.calculateStyle(item.skill!.icon)">{{ item.skill!.name }}</td>
              <td class="left">{{ skillType[item.skill!.type] }}</td>
              <td class="left cost" *ngIf="this.calculateService.getCost(item.skill!) as cost">
                <div *ngIf="cost['size'] || cost['size'] === 0">{{ cost['size'] }}</div>
                <div *ngIf="cost['goldCost']" class="gold-cost">{{ cost['goldCost'] }}</div>
                <div *ngIf="cost['hpCost']" class="hp-cost">{{ cost['hpCost'] }}%</div>
                <div *ngIf="cost['mpCost']" class="mp-cost">{{ cost['mpCost'] }}</div>
                <div *ngIf="cost['spCost']" class="sp-cost">{{ cost['spCost'] }}</div>
              </td>
              <td class="left">{{ item.skill!.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
