/* You can add global styles to this file, and also import other style files */
:focus-visible {
  outline: none;
}

.datagrid-cell {
  cursor: pointer;
}

.datagrid-table .datagrid-cell:focus {
  outline: none;
}

.datagrid-table .datagrid-column:focus {
  outline: none;
}

.cost {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.gold-cost {
  color: #ECEE45;
}

.hp-cost {
  color: #FF3810;
}

.mp-cost {
  color: #36A3D1;
}

.sp-cost {
  color: #04C05F;
}

.detail-title {
  font-size: 24px;
  padding: 16px 0;
}

.branding {
  max-width: unset !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--clr-datagrid-row-hover-color, hsl(198, 0%, 91%));
}

.table {
  margin-top: 12px;
  margin-bottom: 12px;
}

tr.clr-row {
  margin-left: 0;
  margin-right: 0;
}

.table.table-vertical th:not(:first-child) {
  border-left-style: solid;
  border-left-width: .05rem;
  border-left-width: var(--clr-table-borderwidth, 0.05rem);
  border-left-color: #ccc;
  border-left-color: var(--clr-table-border-color, hsl(198, 0%, 80%));
  border-right-style: solid;
  border-right-width: .05rem;
  border-right-width: var(--clr-table-borderwidth, 0.05rem);
  border-right-color: #ccc;
  border-right-color: var(--clr-table-border-color, hsl(198, 0%, 80%));
  font-weight: 600;
}
